.back {background-image: url("../Images/test.jpeg");background-size: cover;}
.general{text-align: center;}
h1{font-family: monospace;font-size: 6em;}

.textsize {font-size: 1.5em;background-color: black;border-color: black;border-style: solid;border-width: thick;color:white;}
.font {font-family: 'Cinzel Decorative', cursive;}
.btn-customdark {background-color: black;color: white;font-family: 'Oswald', sans-serif;border: 3px;border-color: black;font-size: 2em;#border-radius:40px;}
.btn-customdark:hover,.btn-customdark:active,.btn-customdark:focus {color: white;background-color: rgba(30,144,255,0.7);}
.whiteback {background-color: rgba(255,255,255,0.5);border-radius: 5px;padding: 10px;}
.ul{text-align: left;font-size: 1.5em;}
.jumbotron{background-color: rgba(255,255,255,0.5);}
#slideshow {margin: auto;position: relative;width: 240px;height: 240px;padding: 10px;}
#slideshow > div {position: absolute; }

#slideshow2 {margin: auto;position: relative;width: 240px;height: 240px;padding: 10px;}
#slideshow2 > div {position: absolute; }

#slideshow3 {margin: auto;position: relative;width: 240px;height: 240px;padding: 10px;}
#slideshow3 > div {position: absolute; }

.marginde{margin-left: 30px}