

.roboto {font-family: 'Roboto Mono', monospace;}


body {background-color: #1c1c1c;}

.center-banner {margin-top: 40vh;margin-bottom: 50vh;margin-left: 40vw;margin-right: 40vw;text-align: center;color: white;}