.backgroundtop {background-image: url(/Images/beach.00_jpg_srz);height: 100%;background-size: cover;background-position: top}
.backgroundtop2 {background-color:white;}
.backgroundtop3 {background-color: #1c1c1c;height: 200px;}
.backgroundtop4 {background-color:dodgerblue;background-repeat: repeat;background-size: cover;}
.backgroundtop5 {background-color:#1c1c1c;background-repeat: repeat;background-size: cover;}
.fontupwhite{color: white;font-size: 3em;text-align: center;text-decoration: underline;font-family: 'Oswald', sans-serif;text-align: center;}
.fontupwhite2{color: white;font-size: 1.5em;text-align: center;font-family: 'Oswald', sans-serif;}
.fontup2{font-size: 1.5em;font-family: 'Oswald', sans-serif;}
ul {list-style: none;}
.intro{#background-color: rgba(0,0,0,1);color: black;border: 7px solid transparent;transition: 1s;letter-spacing: 0px;font-size: 3em;border-radius: 0px;padding: 10px;margin-top: 20%; font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;border-top: 7px solid dodgerblue;border-bottom: 7px solid dodgerblue;}
.intro:hover{border-top: 7px solid dodgerblue;border-bottom: 7px solid dodgerblue;letter-spacing: 5px;text-decoration: none;}
a {align-content: center;}
h1{text-align: center;}
.scrollbtn{font-size: 7em;color: black;margin-bottom: 10%;}
.scrollbtn:hover{color: dodgerblue;}
.infobox{color: white;#margin-top: 5%;#font-size: 7em;text-align: center;;}
.white {color: white;}
.enlarge{font-size: 7em;}
.whitehr {background-color: transparent;height: 2px;border: white 0px solid;}
@media (max-width: 1050px){ .whitehr {background-color: white;}}
.portal{color: white;}
.portal:hover{color: dodgerblue;text-decoration: none;}
.enlarge2{font-size: 1.5em;##1c1c1c}
.circle{border:px solid black;border-radius: 1000px;margin-top: 10%;}
.blackhr {background-color: black;height: 2px;border: white 0px solid;}
.top {margin-top: 5%;}
.btm {margin-bottom: 5%;}
.footer{height: 7%;font-family: 'Oswald', sans-serif;background-color:#1c1c1c;height: 10% }
.cont{margin-top: 2%;margin-bottom: 2%;}
.link{text-decoration: none;color: white;font-size: 2em;margin-left: 5px;margin-right: 5px;}
.link:hover {color: dodgerblue;}
.img2:hover{opacity: 0.7;}
.email{color: white;text-decoration: none;font-size: 1.5em;}
.email:hover {color: dodgerblue;text-decoration: none;}
.gen{color: dodgerblue;text-decoration: none;}
.gen:hover {color: black;text-decoration: none;}
html {background-color: #1c1c1c;}
.color1{background-color: limegreen;}
.color2{background-color: dodgerblue;}
.color3{background-color: orange;}
.sub-title{font-family: 'Oswald', sans-serif;color: white;text-align: center;}
.desc{font-family: 'Oswald', sans-serif;color: white;}