.mainbackground {background: url("../Images/op8.jpg")repeat fixed 100%; height: 100%;width: 100%;background-size: cover;background-position: center;}
.background{background: url("../Images/space.jpg")repeat fixed 100%;min-height: 50%;width: 100%;}

.header{font-size: 11em; margin-top: 10%;margin-bottom: 0%;}

@media (max-width: 1930px){}

#content{font-size: 1.5em;}
#content a:hover{color: black;text-decoration: underline;}

.bmpdown{margin-bottom: 20px;}

#navbar img {margin-top: 15px;}

.whitebox{min-height: 60%;background-color: white;}
.sectwo{border-right: solid white 2px;border-left: solid white 2px;height: 300px;margin-bottom: 30px;
    border-top: transparent white 0px;border-bottom: transparent white 0px;}

.bar {width: 100%;background-color: gainsboro;height: 10px;border-radius: 1000px;margin-bottom: 10px;margin-top: 3px;}
.html5{width: 66%;background-color: deepskyblue;}
.python{width: 100%;background-color: greenyellow}
.java{width: 40%;background-color: crimson}

.mobile{background-color: transparent;width: 80%}

@media (max-width: 1050px){
    .header{font-size-adjust: auto;font-size: 5em;}
    #middle .titlesubfont{font-size: 2em;}
    .sectwo{border-color: transparent;height: auto;border-top: solid white 2px;border-bottom: solid white 2px;}
    #pl .titlesubfont{font-size: 1em;}
    .footer h3{font-size: 1.2em;}
}
