html {height: 100%;width: 100%}
body {height: 100%;width: 100%}

.background{background-image: url("../Images/Memes/back.gif");background-size: cover;height: 100%;background-position: top;}
.font{font-family: 'Geo', sans-serif;}
.navfont{font-family: 'Geo', sans-serif;}
.bodyfont{font-family: 'Raleway', sans-serif;font-weight: 900}
.headfont{font-family: 'Oswald', sans-serif;font-weight: 900;letter-spacing: 10px;}
.titlefont{font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;font-size: 50px;font-style: italic;font-variant: normal;font-weight: 700;}
.titlesubfont{font-family: 'Oswald', sans-serif;}
.white{color:white;}.black{color: #1c1c1c;}
r{color: red}.yellow{color: yellow;}.blue{color: dodgerblue}.orange{color: orangered;}
a:link {text-decoration: none;}a:visited {text-decoration: none;}a:hover {text-decoration: none;}a:active {text-decoration: none;}


.center{margin-top: 50%;}
.bttm{margin-top: 50%;}
