.mainbackground {background-image: url(http://i.imgur.com/eHSVOgC.jpg); min-height: 100%;width: 100%;background-size: cover;background-position: top;}
a{color: white;}a:hover{text-decoration: none;color: dodgerblue;}

#work{margin-top: 10px;}

.box{width: 90%;height: 200px;overflow: hidden;transition: 1s ease;}
.box h4{padding: 5px;margin: 0px;background-color: white;opacity: 0;transition: .5s ease;}
.box img{margin-bottom: 0px;}
.box:hover h4{opacity: 1;letter-spacing: normal;}
