.font{font-family: 'Bungee', cursive;text-transform:uppercase;}
#navbar{background-image: url(/Images/split.jpg);background-position: center;}
.orange{background-color: #F5811F}
.aqua{background-color: #008D97}
.white{color:white;}
.nav{margin-top: 10%;}
.navbutton{color: white;text-transform: uppercase;}
.navbutton:hover{color: orange;}
.navbutton2{color: white;}
.navbutton2:hover{color: deepskyblue;}
.home{opacity: 1;}
.home:hover{opacity: .7;}
#footer{margin-top: 5%;}
::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-track {background: #1c1c1c;}
::-webkit-scrollbar-thumb {background: deepskyblue;}
::-webkit-scrollbar-thumb:window-inactive {background: #F5811F;} 
