html{width: 100%;height: 100%;}
body{width: 100%;height: 100%}
a:hover{text-decoration: none;}
.font{font-family: 'Bungee', cursive;text-transform:uppercase;}
.lander{background-image: url(/Images/split.jpg);height: 100%;width:100%;background-position: center;}
.logo{margin-top: 20%;}
img{padding-right: 2.8%;}
.button{margin-top: 50%;color: white;}
.button:hover{color: orange;}
.button2{margin-top: 50%;color: white;}
.button2:hover{color: deepskyblue;}
.title{padding-right: 1%;} 